extends _includes/layout

block content
  .flrnw
    .fla
      .mb-2.text-5
        .blue.bold=`Adding new entry to ${fileName}`

  .border.border-gray-4.rounded-2.bg-gray-4
    form(action=`/insert/${fileName}` enctype="multipart/form-data" method="post")
      each field in fields
        +formField(field)
      .flrnw.p-1.flrar
        .fln
          button.bold.text-5.bg-blue.px-1.py-02.white.rounded-2(type="submit") Submit

