extends _includes/layout

block content
  .mb-2.text-5
    .blue.bold=fileName

  .border.border-gray-4.rounded-2.bg-gray-1
    form(action=`/update/${fileName}` method="post")
      if _.isArray(data)
        +formField("__list__", data)
      else
        each fieldValue, fieldName in data
          +formField(fieldName, fieldValue)
      .flrnw.p-1.flrar
        .fln
          button.bold.text-5.bg-blue.px-1.py-02.white.rounded-2(type="submit") Submit

