//- ---
//- title: Background color
//- ---

block content
  :markdown-it
    Norska uses the same `.bg-{color}` classes as the default Tailwind, but with some slight differences.
    
    Please, check the [text color](/tailwind/text-color/) page for more details.

  +tailwind_tests
    +tailwind_table_header
    each key in data.tailwind.theme('colors')
      - const className=`bg-${key}`;
      +tailwind_table_line(className)
        .w-100p.transparent(class=className) Aa
