//- ---
//- title: Debug
//- ---

block content
  p
    | Norska comes with the #[code .debug] class to help you troubleshoot your
    | CSS. By adding this class to any element, all its children will be outlined
    | in different colors based on their depth.


  .debug.mx-1
    .p-1 You can cut
      .p-1 our wings but
        .p-1 we will always
          .p-1 remember what it
            .p-1 was like to fly

  .invisible This is added so the bottom outline is visible

