//- ---
//- title: Flexbox
//- ---

block content
  p 
    | Tailwind provides #[a(href="https://tailwindcss.com/docs/flex") flexbox utilities] to create handle a flexbox layout.
    
  p
    | Norska adds what I consider missing helpers, to make writing flex elements even easier.


  !=markdown('## Center an element')

  p #[code .flex-center] will center an element both horizontally and vertically. This is the same as adding #[code .justify-center.items-center].
