//- ---
//- title: Tailwind
//- ---

block content
  p
    |Norska comes bundled with its own custom Tailwind configuration that adds
    |new features on top of the official Tailwind:

  ul
    li.bullet
      a(href="/tailwind/spacing") Spacing scale
    li.bullet
      a(href="/tailwind/colors") Color palette
    li.bullet
      a(href="/tailwind/text") Text
    li.bullet
      a(href="/tailwind/animations") Animations
    li.bullet
      a(href="/tailwind/opacity") Opacity
    li.bullet
      a(href="/tailwind/shadows") Shadows
    li.bullet
      a(href="/tailwind/grid") Grid
    li.bullet
      a(href="/tailwind/bullets") Bullets
    li.bullet
      a(href="/tailwind/if-then") If / Then
    li.bullet
      a(href="/tailwind/debug") Debug
    li.bullet
      a(href="/tailwind/misc") Misc


