//- ---
//- title: Tailwind
//- ---

block content
  p
    |Norska comes bundled with its own custom Tailwind configuration that adds
    |new features on top of the official Tailwind:

  ul
    li.bullet
      a(href="spacing") Spacing scale
    li.bullet
      a(href="colors") Color palette
    li.bullet
      a(href="tailwind/text") Text
    li.bullet
      a(href="animations") Animations
    li.bullet
      a(href="opacity") Opacity
    li.bullet
      a(href="shadows") Shadows
    li.bullet
      a(href="grid") Grid
    li.bullet
      a(href="bullets") Bullets
    li.bullet
      a(href="if-then") If / Then
    li.bullet
      a(href="debug") Debug
    li.bullet
      a(href="misc") Misc


