//- ---
//- title: Spacing
//- ---

block content
  :markdown-it
    `norska` uses a custom scale for all dimension-based classes.

    The same scale is used for `width` and `height` (including `min-` and `max-`
    variants), as well as `margin`, `padding`, `borders` and `absolute`
    positioning.

    The base scale has 20 steps, ranging from `w-1` (`1rem`) to `w-20` (`28rem`).
    Values smaller than `1rem` can be achieved with `w-01` through `w-04`. Really
    really small values are available with `w-001` and `w-002`.

    Percentage values are also accessible with keys ending with `p`. `w-20p` means
    `width: 20%`. All multiples of 10 are available, as well as the common `25p`,
    `33p`, `66p` and `75p`.

    Some width relative to the number of characters in a row are also available:
    `25ch`, `50ch`, `65ch`, `75ch` and `100ch`, as well as `prose` set to `65ch`.

    To cover the last cases, the following values are also added: `50vh`, `50vw`,
    `100vh`, `100vw`, `0`, `none` and `auto`.

    Some values might not be available if they don't make sense in a specific
    context (like `border-50p`).
    
  +tailwind_tests
    p 
      | Below is an example of the scale applied to the #[code .w-{size}] classes. The
      | same could be applied to all the other classes using the spacing scale.
    +tailwind_table_header
    each key in data.tailwind.theme('spacing')
      - const className=`w-${key}`
      +tailwind_table_line(className)
        .w-100p.bg-checkered
          .bg-blue.transparent(class=className) Aa
