extends /_includes/_layouts/core

block config
  - pageTitle = "404: Page not found"
  - pageDescription = "Sorry, we couldn't find this page"

block content
  p Sorry, the page you're looking for was not found
