extends /_includes/_layouts/core

block config
  - pageTitle = "Custom title"
  - pageDescription = "Custom description"
  //- see also: pageAuthor, pageImage, pageTwitter, pageUrl

block content
  p This is your website
