extends /_includes/_layouts/core

block meta
  - meta.title = "Custom title"
  - meta.description = "Custom description"
  //- see also: meta.twitter, meta.image and meta.url

block content
  p This is your website
