//- ---
//- layout: percy
//- title: Debug
//- ---

block content
  .debug
    .p-1 You can cut
      .p-1 our wings but
        .p-1 we will always
          .p-1 remember what it
            .p-1 was like to fly
