//- ---
//- layout: percy
//- title: Height
//- ---

block content
  each key in data.tailwind.theme('height')
    - const className=`h-${key}`
    +tailwind_table_line(className)
      .w-100p.bg-checkered.overflow-hidden
        .h-100vh
          .bg-blue.transparent(class=className) Aa
