//- ---
//- layout: percy
//- title: Negative width
//- ---

block content
  each key in data.tailwind.theme('negativeWidth')
    - const className=`w-${key}`
    +tailwind_table_line(className)
      .w-100p.bg-checkered
        .bg-blue.transparent(class=className) Aa
