//- ---
//- layout: percy
//- title: Position
//- ---

block content
  -
    const examples = [
      ['top-0', 'left-0', 'right-0'],
      ['right-0', 'top-0', 'bottom-0'],
      ['right-0', 'left-0', 'bottom-0'],
      ['left-0', 'top-0', 'bottom-0'],
      ['mt-3', 'ml-3'],
      ['mt-3', 'right-0', 'mr-3'],
      ['right-0', 'mr-3', 'bottom-0', 'mb-3'],
      ['bottom-0', 'mb-3', 'ml-3'],
      ['ml-3', '-mt-6'],
      ['mt-3', 'right-0', '-mr-6'],
      ['right-0', 'mr-3', 'bottom-0', '-mb-6'],
      ['bottom-0', 'mb-3', '-ml-6'],
    ]
  each example in examples
    +tailwind_table_line(example.join('.'))
      .w-100p.h-15.bg-checkered.flex.justify-center.items-center
        .border-001.border-gray.bg-white.h-11.w-11.relative
          .absolute.bg-blue.min-h-5.min-w-5.transparent(class=example) Aa
