//- ---
//- layout: percy
//- title: Shadow colors
//- ---

block content
  each key in data.tailwind.theme('boxShadowColor')
    - const className=`shadow-${key}`
    +tailwind_table_line(className)
      .w-100p.p-4.bg-gray-1.overflow-hidden
        .p-2.bg-white.rounded.shadow-5(class=className) Aa
