/* Force html and body to take the whole height, and extend if needed*/
html {
  @apply h-100p;
  font-family: Verdana, Geneva, sans-serif;
}
body {
  @apply min-h-100p;
}
/* purgecss start ignore */
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* purgecss end ignore */
