/**
 * The following rules are extracted from normalize.css
 * They're wrapped in purgecss ignore comments so purgecss does not remove them
 * They cover default styling of elements dynamically added by InstantSearch
 **/
/* purgecss start ignore */
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  background: transparent;
  padding: 0;
}
/* purgecss end ignore */
