include /_includes/mixins
html.bg-gray-2
  head
    title Norska CMS
    link(type="text/css", rel="stylesheet", href="/css/style.css")
  body
    .fixed.bg-blue.white.top-0.w-100p.text-4.h-7.px-3
      .flrnw.h-100p
        .fln.flrnw.flc
          a.bold(href="/") Norska CMS
    .container.mx-auto.mt-8
      block content
    script(src="http://localhost:35729/livereload.js?snipver=1")
