doctype html
html(lang='en')
  +norska_head
  body.bg-gray-1.p-1
    .bg-white.border-001.border-gray-4.p-1
      h1.gray-9.text-6.border-b-01.mb-3.border-blue=data.meta.title
      block content

    +norska_scripts
