@import 'theme:style.css';

body {
  .theme-header {
    @apply bg-blue-1;
  }
  .theme-navigation-link-active {
    @apply border-blue-4;
  }
  .theme-navigation-link:hover {
    @apply blue-5;
  }
  .theme-title {
    @apply border-blue-5;
  }

  --docsearch-primary-color: #63b3ed;
}
.prose a {
  @apply blue-5;
  &:hover {
    @apply underline-blue-5;
  }
}

.bg-checkered {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23F0F0F0' d='M0 0h8v8H0zm8 8h8v8H8z'/%3E%3C/svg%3E");
  background-size: 16px 16px;
}
