//- ---
//- layout: visual-tests
//- title: Background opacity
//- ---

block content
  each key in data.tailwind.theme('opacity')
    - const className=`bg-opacity-${key}`
    +tailwind_table_line(className)
      .w-100p.bg-checkered.p-01
        .w-100p.bg-blue.transparent(class=className) Aa
