//- ---
//- layout: visual-tests
//- title: Border radius
//- ---

block content
  +tailwind_table_header
  each key in data.tailwind.theme('borderRadius')
    - const className=`rounded-${key}`.replace('-default', '')
    +tailwind_table_line(className)
      .w-100p.bg-checkered.p-01
        .border-blue.border-01.w-5.h-5.transparent(class=className) Aa
