//- ---
//- layout: visual-tests
//- title: Flexbox
//- ---
block content

  -
    const examples = [
      ['flex-main-start'],
      ['flex-main-center'],
      ['flex-main-end'],
      ['flex-cross-start'],
      ['flex-cross-center'],
      ['flex-cross-end'],
      ['flex-center'],
      ['flex-col', 'flex-main-start'],
      ['flex-col', 'flex-main-center'],
      ['flex-col', 'flex-main-end'],
      ['flex-col', 'flex-cross-start'],
      ['flex-col', 'flex-cross-center'],
      ['flex-col', 'flex-cross-end'],
      ['flex-col', 'flex-center'],
    ]

  each example in examples
    +tailwind_table_line(example.join('.'))
      .h-10.w-100p.bg-checkered.flex(class=example)
        .bg-blue.h-5.w-5.m-01.transparent Aa
        .bg-green.h-5.w-5.m-01.transparent Aa
