block meta
  //- This block is empty on purpose; so each page can override the meta object

doctype html
html(lang='en')
  +norska_head
  body
    include /_includes/header
    .container.mx-auto.p-3.mt-8
      block content
  +norska_scripts
