.absolute.w-100p.top-0.z-9.min-h-8.white.bg-gray-8
  .flrw.flral.h-100p.flc.px-1.md_px-2
    //- Title
    .fln.bold.white.text-6.flral.flrnw.flc.h-8
      a(href=url.base) Norska
    //- Hamburger menu
    .fla.flrnw.flrar.md_hidden
      label.fill-current.border.rounded.p-02.pointer.hover_white(for="switch-1")
        svg.h-3.w-3(viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg")
          title Menu
          path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")
    //- Menu
    input.switch-1(type="checkbox" id="switch-1")
    .fln.w-100p.hidden.switch-1_flex.md_flex.md_fla.md_w-auto
     .fla.flcnw.white.text-4.md_flrnw.md_flrar.md_flc.pb-1.sm_pb-0
       a.px-02.py-01.md_px-1.rounded-3.hover_bg-black.bg-opacity-50p(href="/") One
       a.px-02.py-01.md_px-1.rounded-3.hover_bg-black.bg-opacity-50p(href="/") Two
       a.px-02.py-01.md_px-1.rounded-3.hover_bg-black.bg-opacity-50p(href="/") Three

