extends /_includes/_layouts/core

block meta
  - meta.title = "Background gradients"
  -
    const manualClasses = [
      ['bg-gradient-x', 'bg-gradient-from-green'],
      ['bg-gradient-x', 'bg-gradient-to-green'],
      ['bg-gradient-x', 'bg-gradient-from-green', 'bg-gradient-to-orange'],
      ['bg-gradient-y', 'bg-gradient-from-green'],
      ['bg-gradient-y', 'bg-gradient-to-green'],
      ['bg-gradient-y', 'bg-gradient-from-green', 'bg-gradient-to-orange'],
    ]

block content
  .screenshot
    .flcw.border-t-001.border-gray
      each classNames in manualClasses
        - const displayClassName = classNames.join('.')
        .fln.flrnw.py-1.border-b-001.border-gray
          code.fln.w-20.fln.code=`.${displayClassName}`
          .fla.flrnw.flrcv
            .relative.h-9.w-9.border-001.border-gray(class=classNames)
