extends /_includes/_layouts/core

block meta
  - meta.title = "Background Colors"
  - pageClasses = data.tailwind.getClasses('colors', 'bg');

block content
  .flcw.screenshot
    each className in pageClasses
      .fln.flrnw
        code.w-12.fln.code=`.${className}`
        .fla.h-3(class=className)
