extends /_includes/_layouts/core

block meta
  - meta.title = "Border Radius"
  - pageClasses = data.tailwind.getClasses('borderRadius', 'rounded');

block content
  .flcw.screenshot.border-t-001.border-gray
    each className in pageClasses
      - className = className.replace('-default', '')
      .fln.flrnw.flrcv.border-b-001.border-gray
        code.w-12.fln.code=`.${className}`
        .fla.flcnw.p-1
          .fln.w-5.h-5.border-01.border-green(class=className)
