extends /_includes/_layouts/core

block meta
  - meta.title = "Border Width"
  - pageClasses = data.tailwind.getClasses('borderWidth', 'border-t');

block content
  .flrw.screenshot
    each className in pageClasses
      - const displayClassName = _.replace(className, '-t', '')
      .fln.flcnw.w-12.mb-01.mr-1
        code.w-12.fln.code=`.${displayClassName}`
        .fla.flcnw.bg-gray-3.h-20
          .fln.border-green(class=className)
