extends /_includes/_layouts/core

block meta
  - meta.title = "Debug"


block content
  p Adding .debug on an element will add colored outlines to each of its children
  .screenshot.debug
    .p-1 You can cut
      .p-1 our wings but
        .p-1 we will always
          .p-1 remember what it
            .p-1 was like to fly
