extends /_includes/_layouts/core

block meta
  - meta.title = "Delays"
  - pageTheme = data.tailwind.getTheme('transitionDelay');

block content
  .flcw
    p Available values for delay. Applies to both animations and transitions
    .mt-1.border-t-001.border-gray
    each item in pageTheme
      .fln.flrnw.border-b-001.border-gray.py-01
        code.w-12.fln.code=`.delay-${item.key}`
        .fla.h-3=item.value
