extends /_includes/_layouts/core

block meta
  - meta.title = "Dimensions hover"

block content
  .flcw.screenshot-flaky
    .fln.flrnw.mb-01.w-100p
      code.w-16.fln.code=`.hover_w-10.hover_h-10`
      .fln.flrnw.bg-gray-3.w-12.h-12
        .fln.bg-green.w-5.h-5.hover_w-10.hover_h-10.screenshot-hover

