extends /_includes/_layouts/core

block meta
  - meta.title = "Width"
  - pageClasses = data.tailwind.getClasses('width', 'w');

block content
  .py-1 Also applies to `.max-w-X` and `.min-w-X`
  .flcw.screenshot
    each className in pageClasses
      .fln.flrnw.mb-01.w-100p
        code.w-12.fln.code=`.${className}`
        .fla.flrnw.bg-gray-3
          .fln.bg-green(class=className)
