extends /_includes/_layouts/core

block meta
  - meta.title = "Timing Functions"
  - pageTheme = data.tailwind.getTheme('transitionTimingFunction');

block content
  .flcw
    p Available values for the timing function. Applies to both animations and transitions
    .mt-1.border-t-001.border-gray
    each item in pageTheme
      .fln.flrnw.border-b-001.border-gray.py-01
        code.w-12.fln.code=`.ease-${item.key}`
        .fla.h-3=item.value
