extends /_includes/_layouts/core

block meta
  - meta.title = "Debug"


block content
  p Several flex-related classes, inspired by the tachyon-naming have been added.
  .screenshot
    .flrnw
      .fla.flcnw
        .fln.h-10.bg-orange.flrw
          .fln.w-33p.bg-orange-2
          .fln.w-33p.bg-orange-3
          .fln.w-33p.bg-orange-4
          .fln.w-33p.bg-orange-5
        .fln.h-10.bg-yellow.flrnw
          .fla.bg-yellow-2
          .fla.bg-yellow-3
          .fla.bg-yellow-4
          .fla.bg-yellow-5
        .fln.h-10.bg-purple.flrw.flspa
          .fln.w-25p.bg-purple-3
          .fln.w-25p.bg-purple-4
          .fln.w-25p.bg-purple-5
        .fln.h-10.bg-teal.flrw.flspb
          .fln.w-25p.bg-teal-3
          .fln.w-25p.bg-teal-4
          .fln.w-25p.bg-teal-5

      .fln.w-10.bg-indigo.flcw
        .fln.h-50p.bg-indigo-3
        .fln.h-50p.bg-indigo-4
        .fln.h-50p.bg-indigo-5

      .fln.w-10.bg-blue.flcnw
        .fln.h-50p.bg-blue-3.flrnw.flc
          .fln.w-5.h-5.bg-blue-4
          .fln.w-5.h-5.bg-blue-7
        .fln.h-50p.bg-blue-5.flcnw.flc
          .fln.w-5.h-5.bg-blue-6
          .fln.w-5.h-5.bg-blue-8

      .fln.w-10.bg-green.flcnw
        .fln.h-50p.bg-green-3.flrnw.flrcv
          .fln.w-5.h-5.bg-green-4
          .fln.w-5.h-5.bg-green-7
        .fln.h-50p.bg-green-5.flrnw.flrch
          .fln.w-5.h-5.bg-green-6
          .fln.w-5.h-5.bg-green-8

      .fln.w-10.bg-pink.flcnw
        .fln.h-50p.bg-pink-3.flcnw.flccv
          .fln.w-5.h-5.bg-pink-4
          .fln.w-5.h-5.bg-pink-7
        .fln.h-50p.bg-pink-5.flcnw.flcch
          .fln.w-5.h-5.bg-pink-6
          .fln.w-5.h-5.bg-pink-8

    .flcnw
      .fln.h-10.bg-gray.flex.rw
        .fln.w-50p.bg-red-3
        .fln.w-50p.bg-red-4
        .fln.w-50p.bg-red-5
      .fln.h-10.bg-gray.flex.rnw
        .fla.bg-orange-3.flex.cnw
          .fla.bg-yellow-3
          .fla.bg-yellow-4
        .fla.bg-orange-4.flex.cw
          .fln.h-50p.bg-green-3
          .fln.h-50p.bg-green-4
          .fln.h-50p.bg-green-5
        .fla.bg-orange-5
      .fln.h-10.bg-teal-9.flrnw
        .fla.flrnw.flral
          .fln.w-33p.bg-teal-2
          .fln.w-33p.bg-teal-6
        .fla.flrnw.flrar
          .fln.w-33p.bg-teal-1
          .fln.w-33p.bg-teal-5
        .fla.flcnw.flcat
          .fln.h-33p.bg-teal-3
          .fln.h-33p.bg-teal-7
        .fla.flcnw.flcab
          .fln.h-33p.bg-teal-4
          .fln.h-33p.bg-teal-8

