extends /_includes/_layouts/core

block meta
  - meta.title = "Bold"

block content
  .flcw.screenshot.border-t-001.border-gray.mt-1
    .fln.flrnw.flrcv.border-b-001.border-gray.py-01
      code.w-16.fln.code=`.bold`
      .fla.bold=testString
    .fln.flrnw.flrcv.border-b-001.border-gray.py-01
      code.w-16.fln.code=`.no-bold`
      .fla.no-bold=testString


