extends /_includes/_layouts/core

block meta
  - meta.title = "Custom Line height"
  - pageClasses = data.tailwind.getClasses('lineHeight', 'lh');

block content
  .py-1 Line height can be defined using the `.lh-X` prefix instead of the default `.leading-X`
  .flcw.screenshot.border-t-001.border-gray
    each className in pageClasses
      .fln.flrnw.flrcv.border-b-001.border-gray.py-01
        code.w-12.fln.code=`.${className}`
        .fla.flrnw.flrcv.bg-gray-4.h-6
          .fla.bg-green(class=className)=testString



