extends /_includes/_layouts/core

block meta
  - meta.title = "Misc"
  - pageClasses = data.tailwind.getClasses('misc', 'PREFIX');

block content
  .flcw.screenshot.border-t-001.border-gray
    each className in pageClasses
      - className = className.replace('PREFIX-.', '')
      .fln.flrnw.flrcv.border-b-001.border-gray.py-01
        code.w-16.fln.code=`.${className}`
        .fla(class=className)=testString

