extends /_includes/_layouts/core

block meta
  - meta.title = "Opacity"
  - pageClasses = data.tailwind.getClasses('opacity', 'opacity');

block content
  .flcw.screenshot.border-t-001.border-gray
    each className in pageClasses
      .fln.flrnw.border-b-001.border-gray.py-01.flrcv
        code.w-12.fln.code=`.${className}`
        .fla.flrnw.bg-gray-3.h-4.flrcv.px-1
          .fln.px-01.bg-green.white.bold(class=className)=testString
