extends /_includes/_layouts/core

block meta
  - meta.title = "Position on hover"

block content
  .screenshot-flaky
    .flcw.border-t-001.border-gray
      .fln.flrnw.py-1.border-b-001.border-gray
        code.fln.w-18.fln.code=`.relative.hover_absolute`
        .fla.flrnw.flrcv
          .relative.h-9.w-9.bg-gray-3
            .bg-green.relative.hover_absolute.bottom-0.top-0.p-01.screenshot-hover Text
