extends /_includes/_layouts/core

block meta
  - meta.title = "Rotate"
  - pageClasses = data.tailwind.getClasses('rotate', 'rotate');

block content
  .screenshot.bg-gray-3.flrw.p-1
    each className in pageClasses
      - className = className.replace('rotate--', '-rotate-')
      .fln.w-33p.flrnw.flc.p-1
        .bg-white.border-gray.shadow.rounded.p-1.cursor-default.flrnw.flc.transform(class=className)=className
