extends /_includes/_layouts/core

block meta
  - meta.title = "Scroll Margin"

block content
  .py-1 Used to apply some scrolling padding on headers, so they are not hidden behind a fixed header.
  .flrw
    .h3.text-6.scroll-mt-12 Header
