extends /_includes/_layouts/core

block meta
  - meta.title = "Text shadow"
  - pageClasses = data.tailwind.getClasses('colors', 'text-shadow');

block content
  .flcw.screenshot.border-t-001.border-gray
    .fln.flrnw.flrcv.border-b-001.border-gray.py-01
      code.w-17.fln.code .text-shadow
      .fla.text-shadow.text-4.bold.bg-gray-5.white.pl-1=testString
    each className in pageClasses
      .fln.flrnw.flrcv.border-b-001.border-gray.py-01
        code.w-17.fln.code=`.text-shadow.${className}`
        .fla.text-shadow.text-4.bold.bg-gray-5.white.pl-1(class=className)=testString


