/*! This is a special comment that should be removed in production */
/* @import statements should be included inline */
@import "./_styles/imported.css";

/* nested syntax should be flatten inline */
.context {
  b {
    /* Autoprefixer should add vendor-prefixes in production */
    user-select: none;
  }
}

/* This class is not available in the html, so should be removed in the
 * production build */
.not-present { color: red; }

/* Those dynamic classes should always be kept, even if not in the html, in
 * production */
.ais-foo { color: red; }
.ais-foo strong { color: blue; }
.js-bar { color: red; }
.js-bar string { color: blue; }





